@import "tailwindcss";
@font-face {
  font-family: 'appName';
  src: url('/fonts/GreatVibes-Regular.ttf') format('truetype');
}

:root {
  --background: #e0d2c3;
  --foreground: #221d23;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  font-family: 'appName', cursive;
  font-size:  100px;
  text-align: center;
}
nav {
  background-color: #ff9100bd;
  padding: 1rem;
}
nav h1 {
  color: var(--foreground);
  font-size:  50px;
}
.navButton {
  color: var(--foreground);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  text-decoration: none;

}
.navButton:hover {
  background-color: #f9564f;
  color: white;
}

/* Colors palette */
/* 
 28666e - stormy blue
 221d23 - dark gray, text color
 17bebb - light blue
 f9564f - coral red
 e0d2c3 - light beige, background color
 */